{
  "type": "sequence",
  "actions": [
    {
      "type": "moveCardToStack",
      "filter": "memory(playedCardId)",
      "abilityIndex": "-1"
    },
    {
      "type": "payCardCost",
      "cardMemory": "playedCardId"
    },
    {
      "type": "moveCardToCore",
      "filter": "memory(playedCardId)"
    },
    {
      "tpl:extends": "game/effect/trigger/playMandatoryTriggers.template"
    },
    {
      "tpl:extends": "game/effect/trigger/playOptionalTriggers.template"
    }
  ]
}