{
  "type": "sequence",
  "actions": [
    {
      "type": "moveCardToStack",
      "filter": "memory(playedCardId)",
      "abilityIndex": "-1"
    },
    {
      "type": "payCardCost",
      "cardMemory": "playedCardId"
    },
    {
      "type": "moveCardToZone",
      "filter": "memory(playedCardId)",
      "zone": "Core"
    },
    {
      "tpl:extends": "game/trigger/playMandatoryTriggers.template"
    },
    {
      "tpl:extends": "game/trigger/playOptionalTriggers.template"
    }
  ]
}