{
  "com.gempukku.startrek.server.game.effect.EffectMemoryComponent": {
    "memoryType": "beamFromMission",
    "memory": {
      "shipId": "[shipId]",
      "beamedIds": "[beamedIds]"
    }
  },
  "com.gempukku.startrek.server.game.effect.GameEffectComponent": {
    "type": "beamFromMission",
    "data": {
      "ship": "memory(shipId)",
      "filter": "memory(beamedIds)"
    }
  }
}
