{
  "com.gempukku.startrek.server.game.effect.EffectMemoryComponent": {
    "memoryType": "beamBetweenShips",
    "memory": {
      "fromShipId": "[fromShipId]",
      "toShipId": "[toShipId]",
      "beamedIds": "[beamedIds]"
    }
  },
  "com.gempukku.startrek.server.game.effect.GameEffectComponent": {
    "type": "beamBetweenShips",
    "data": {
      "fromShip": "memory(fromShipId)",
      "toShip": "memory(toShipId)",
      "filter": "memory(beamedIds)"
    }
  }
}
