{
  "type": "repeatUntilInTurnOrder",
  "playerMemory": "activePlayer",
  "condition": "equals(memory(playersPassed),playerCount)",
  "action": {
    "type": "processDecision",
    "player": "memory(activePlayer)",
    "decisionType": "optionalTriggerActions",
    "data": {
      "triggerType": "played"
    },
    "memoryData": {
      "sourceId": "playedCardId",
      "missionId": "missionId"
    }
  }
}