{
  "com.gempukku.startrek.server.game.effect.EffectMemoryComponent": {
    "memory": {
      "player": "[playerToDraw]"
    }
  },
  "com.gempukku.startrek.server.game.effect.GameEffectComponent": {
    "type": "drawCard",
    "data": {
      "player": "memory(player)"
    }
  }
}
