{
  "com.gempukku.startrek.game.GamePlayerComponent": {},
  "com.gempukku.startrek.game.PlayerPublicStatsComponent": {},
  "com.gempukku.startrek.game.PlayerDiscardPileComponent": {},
  "com.gempukku.startrek.server.game.deck.PlayerDecklistComponent": {},
  "com.gempukku.startrek.server.game.deck.PlayerDeckComponent": {},
  "com.gempukku.startrek.server.game.deck.PlayerDilemmaPileComponent": {}
}