{
  "com.gempukku.startrek.server.game.effect.EffectMemoryComponent": {
    "memoryType": "discardExcessCardsSegment"
  },
  "com.gempukku.startrek.server.game.effect.GameEffectComponent": {
    "type": "sequence",
    "data": {
      "memory": true,
      "actions": [
        {
          "type": "setTurnSegment",
          "segment": "DISCARD_EXCESS_CARDS"
        }
      ]
    }
  }
}
