{
  "com.gempukku.startrek.server.game.effect.GameEffectComponent": {
    "type": "sequence",
    "data": {
      "actions": [
        {
          "type": "setTurnSegment",
          "segment": "EXECUTE_ORDERS"
        }
      ]
    }
  }
}
