{
  "com.gempukku.libgdx.lib.artemis.audio.AudioBankComponent": {
    "name": "fx",
    "sounds": [
      {
        "name": "transporter",
        "path": "sound/transporter.ogg"
      },
      {
        "name": "warp",
        "path": "sound/warp.ogg"
      }
    ]
  }
}