{
  "com.gempukku.libgdx.lib.graph.artemis.renderer.PipelineRendererComponent": {
    "pipelinePath": "pipeline/game-pipeline.json",
    "cameraProperty": "Main Camera",
    "cameraName": "main"
  },
  "com.gempukku.libgdx.lib.graph.artemis.ui.StageComponent": {
    "skinPath": "skin/startrek/startrek.json",
    "stageName": "Main"
  },
  "com.gempukku.libgdx.lib.graph.artemis.time.TimeComponent": {}
}