{
  "com.gempukku.libgdx.lib.graph.artemis.sprite.SpriteSystemComponent": {
    "type": "TexturePaged",
    "name": "ditherText",
    "renderTag": "SdfText",
    "minimumPages": 1,
    "staticBatch": false
  }
}