{
  "com.gempukku.libgdx.lib.graph.artemis.sprite.SpriteBatchComponent": {
    "type": "TexturePaged",
    "name": "ditherTexture",
    "renderTag": "TextureDither",
    "minimumPages": 1,
    "staticBatch": false
  }
}