{
  "com.gempukku.libgdx.lib.artemis.camera.orthographic.OrthographicCameraComponent": {
    "name": "ui",
    "near": 0,
    "far": 100,
    "height": 1,
    "position": {
      "x": 0,
      "y": 100,
      "z": 0
    },
    "direction": {
      "x": 0,
      "y": -1,
      "z": 0
    },
    "up": {
      "x": 0,
      "y": 0,
      "z": -1
    }
  }
}